@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
  background-color: #ffddf0 !important; }

.navbar {
  justify-content: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  z-index: 1;
  top: 0;
  position: sticky !important;
  opacity: 0.9; }

.titulo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 100px; }

.subtitulo {
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
  background-color: #fff6fb;
  margin-top: 40px;
  margin-bottom: 40px; }

.palereria__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important; }

.pasteleria__card {
  display: flex;
  justify-content: center !important; }

.pasteleria__row--lineaUno {
  margin-bottom: 40px; }

.card {
  display: flex;
  flex-wrap: wrap; }
