@import"font";

body{
    background-color: (rgb(255, 221, 240))!important;
}

.navbar-nav{
    justify-content: flex-start;
    font-family: $letraTituloComida;
    opacity: 0.9;
    width: 95%;
    transition: top 0.5s;
}

.navbar-brand{
    width: 45px;
    display: flex;
}

.logo{
    width: 45px;
    margin: 5px;
}

.botonDelCarrito{
    margin-right: 10px;
}

.titulo{
    text-align: center;
    font-family: $letraTitulo;
    font-size: 100px;
}

.subtitulo{
    font-family: $letraTitulo;
    text-align: center;
    background-color: rgb(255, 246, 251);
    margin-top: 20px;
}

.palereria__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
}

.pasteleria__card{
    display: flex;
}

.card{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#boton{    
    display: inline-block;

}

#cantidad{
    display: inline-block;
    width: 70px;
}

footer{
    background-color: rgb(231, 231, 231);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.telefono{
    width: 10px;
}

.instagram{
   width: 10px;
}

.correoElectronico{
    width: 12px;;
}

.logo--footer{
    text-align: end;

}
.logo--footer__img{
    width: 90px;
}

